## Licensed to the Apache Software Foundation (ASF) under one
## or more contributor license agreements.  See the NOTICE file
## distributed with this work for additional information
## regarding copyright ownership.  The ASF licenses this file
## to you under the Apache License, Version 2.0 (the
## "License"); you may not use this file except in compliance
## with the License.  You may obtain a copy of the License at
##
##   http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied.  See the License for the
## specific language governing permissions and limitations
## under the License.
<html>

<head><title> JCS Admin Servlet </title></head>

<body>

<h1> Cache Regions </h1>

<p>These are the regions which are currently defined in the cache. 'Items' and
'Bytes' refer to the elements currently in memory (not spooled). You can clear
all items for a region by selecting 'Remove all' next to the desired region
below. You can also <a href="?action=clearAllRegions">Clear all regions</a>
which empties the entire cache.</p>

<table border="1" cellpadding="5" >
    <tr>
        <th> Cache Name </th>
        <th> Items </th>
        <th> Bytes </th>
        <th> Status </th>
        <th> Memory Hits </th>
        <th> Aux Hits </th>
        <th> Not Found Misses </th>
        <th> Expired Misses </th>
    </tr>

    #foreach ( $record in $cacheInfoRecords )
        <tr>
            <td> $record.cache.cacheName </td>
            <td> $record.cache.size </td>
            <td> $record.byteCount </td>
            <td> $record.status </td>
            <td> $record.cache.hitCountRam </td>
            <td> $record.cache.hitCountAux </td>
            <td> $record.cache.missCountNotFound </td>
            <td> $record.cache.missCountExpired </td>
            <td>
                <a href="?action=detail&cacheName=${record.cache.cacheName}"> Detail </a>
                | <a href="?action=clearRegion&cacheName=${record.cache.cacheName}"> Remove all </a>
            </td>
        </tr>
    #end

</table>

</body>

</html>
