node[place] { icon-image: icons/place.png; text-offset: 17; font-family: DejaVu; text: name; font-size: 10; font-weight: bold; z-index: 20; }
node[amenity=telephone] { icon-image: icons/telephone.png; z-index: 20; }
node[barrier=cattle_grid] { icon-image: icons/cattle_grid.png; z-index: 20; }
node[tourism=guesthouse] { icon-image: icons/accommodation_bed_and_breakfast.n.16.png; z-index: 20; }
node[tourism=alpine_hut] { icon-image: icons/accommodation_alpinehut.n.16.png; z-index: 20; }
node[tourism=camp_site] { icon-image: icons/accommodation_camping.n.16.png; z-index: 20; }
node[tourism=caravan_site] { icon-image: icons/accommodation_caravan_park.n.16.png; z-index: 20; }
node[tourism=chalet] { icon-image: icons/accommodation_chalet.n.16.png; z-index: 20; }
node[tourism=guest_house],node[tourism=bed_and_breakfast] { icon-image: icons/accommodation_bed_and_breakfast.n.16.png; z-index: 20; }
node[tourism=hotel] { icon-image: icons/accommodation_hotel.n.16.png; text-offset:15; text: name; font-size: 10; z-index: 20; }
node[tourism=hostel] { icon-image: icons/accommodation_youth_hostel.n.16.png; z-index: 20; }
node[tourism=motel] { icon-image: icons/accommodation_motel.n.16.png; z-index: 20; }
node[amenity=fire_station] { icon-image: icons/amenity_firestation2.n.16.png; z-index: 20; }
node[amenity=police] { icon-image: icons/amenity_police2.n.16.png; z-index: 20; }
node[amenity=post_box] { icon-image: icons/amenity_post_box.n.16.png; z-index: 20; }
node[amenity=recycling] { icon-image: icons/amenity_recycling.n.16.png; z-index: 20; }
node[barrier=bollard] { icon-image: icons/barrier_bollard.n.16.png; z-index: 20; }
node[barrier=gate], node[highway=gate] { icon-image: icons/barrier_gate.n.16.png; z-index: 20; }
node[barrier=stile], node[highway=stile] { icon-image: icons/barrier_stile.n.16.png; z-index: 20; }
node[barrier=toll_booth] { icon-image: icons/barrier_toll_booth.n.16.png; z-index: 20; }
node[barrier=lift_gate] { icon-image: icons/barrier_lift_gate.n.16.png; z-index: 20; }
node[barrier=kissing_gate] { icon-image: icons/barrier_kissing_gate.16.png; z-index: 20; }
node[barrier=cycle_barrier] { icon-image: icons/barrier_cycle_barrier.16.png; z-index: 20; }
node[barrier=block] { icon-image: icons/barrier_blocks.16.png; z-index: 20; }
node[barrier=cattle_grid] { icon-image: icons/barrier_cattle_grid.16.png; z-index: 20; }
node[amenity=school] { icon-image: icons/education_school.n.16.png; text-offset:15; text: name; font-size: 10; z-index: 20; }
way[amenity=school] :area { color: yellow; fill-color: yellow; fill-opacity: 0.1; set .area_small_name; }
node[amenity=bar] { icon-image: icons/food_bar.n.16.png; text-offset:15; text: name; font-size: 10; z-index: 20; }
node[amenity=cafe] { icon-image: icons/food_cafe.n.16.png; text-offset:15; text: name; font-size: 10; z-index: 20; }
node[amenity=fast_food] { icon-image: icons/food_fastfood.n.16.png; z-index: 20; }
node[amenity=nightclub] { icon-image: icons/food_nightclub.n.16.png; text-offset: 15; text: name; font-size: 10; z-index: 20; }
node[amenity=pub] { icon-image: icons/food_pub.n.16.png; text-offset: 15; text: name; font-size: 10; z-index: 20; }
node[amenity=restaurant] { icon-image: icons/food_restaurant.n.16.png; text-offset:15; text: name; font-size: 10; z-index: 20; }
node[amenity=hospital] { icon-image: icons/health_hospital.n.16.png; z-index: 20; }
node[amenity=pharmacy] { icon-image: icons/health_pharmacy.n.16.png; z-index: 20; }
node[amenity=atm] { icon-image: icons/money_atm.n.16.png; z-index: 20; }
node[amenity=bank] { icon-image: icons/money_bank2.n.16.png; z-index: 20; }
/* More Amenities */
node[amenity=bench] { icon-image: icons/amenity_bench.n.16.png; z-index: 20; }
node[amenity=drinking_water] { icon-image: icons/food_drinkingtap.n.16.png; z-index: 20; }
node[amenity=emergency_phone] { icon-image: icons/emergency-telephone-16.png; z-index: 20; }
node[amenity=fountain] { icon-image: icons/amenity_fountain2.n.16.png; z-index: 20; }
node[amenity=hunting_stand] { icon-image: icons/sport_shooting.n.16.png; z-index: 20; }
node[amenity=kindergarten] { icon-image: icons/education_nursery3.n.16.png; z-index: 20; text-offset:15; text: name; font-size: 10; z-index: 20; }
node[amenity=library] { icon-image: icons/amenity_library.n.16.png; text-offset:15; text: name; font-size: 10; z-index: 20; }
node[amenity=place_of_worship]  { icon-image: icons/place_of_worship_unknown.n.16.png; text-offset:15; text: name; font-size: 10; z-index: 20; }
node[amenity=post_office] { icon-image: icons/amenity_post_office.n.16.png; z-index: 20; }
node[amenity=shelter] { icon-image: icons/accommodation_shelter2.n.16.png; z-index: 20; }
node[amenity=swimming_pool] { icon-image: icons/sport_swimming_outdoor.n.16.png; z-index: 20; }
node[amenity=townhall] { icon-image: icons/amenity_town_hall.n.16.png; text-offset:15; text: name; font-size: 10; z-index: 20; }
node[amenity=toilets] { icon-image: icons/amenity_toilets.n.16.png; z-index: 20; }
node[amenity=vending_machine] { icon-image: icons/shopping_vending_machine.n.16.png; z-index: 20; }
node[amenity=veterinary] { icon-image: icons/health_veterinary.n.8E7409.16.png; z-index: 20; }
node[amenity=waste_basket] { icon-image: icons/amenity_waste_bin.n.16.png; z-index: 20; }
node[amenity=fire_hydrant] { icon-image: icons/emergency_hydrant.n.16.png; z-index: 20; }
node[emergency=fire_hydrant] { icon-image: icons/emergency_hydrant.n.16.png; z-index: 20; }
/* Shops */
node[shop=alcohol] { icon-image: icons/shopping_alcohol.n.16.png; z-index: 20; }
node[shop=bakery] { icon-image: icons/shopping_bakery.n.16.png; z-index: 20; }
node[shop=bicycle] { icon-image: icons/shopping_bicycle.n.16.png; z-index: 20; }
node[shop=book], node[shop=books] { icon-image: icons/shopping_book.n.16.png; z-index: 20; }
node[shop=butcher] { icon-image: icons/shopping_butcher.n.16.png; z-index: 20; }
node[shop=car_repair] { icon-image: icons/shopping_car_repair.n.16.png; z-index: 20; }
node[shop=car] { icon-image: icons/shopping_car.n.16.png; z-index: 20; }
node[shop=clothes] { icon-image: icons/shopping_clothes.n.16.png; z-index: 20; }
node[shop=confectionery] { icon-image: icons/shopping_confectionery.n.16.png; z-index: 20; }
node[shop=convenience] { icon-image: icons/shopping_convenience.n.16.png; z-index: 20; }
node[shop=department_store] { icon-image: icons/shopping_department_store.n.16.png; z-index: 20; }
node[shop=doityourself] { icon-image: icons/shopping_diy.n.16.png; z-index: 20; }
node[shop=fishmonger] { icon-image: icons/shopping_fish.n.16.png; z-index: 20; }
node[shop=florist] { icon-image: icons/shopping_florist.n.16.png; z-index: 20; }
node[shop=garden_centre] { icon-image: icons/shopping_garden_centre.n.16.png; z-index: 20; }
node[shop=gift] { icon-image: icons/shopping_gift.n.16.png; z-index: 20; }
node[shop=greengrocer] { icon-image: icons/shopping_greengrocer.n.16.png; z-index: 20; }
node[shop=hairdresser] { icon-image: icons/shopping_hairdresser.n.16.png; z-index: 20; }
node[shop=hifi] { icon-image: icons/shopping_hifi.n.16.png; z-index: 20; }
node[shop=jewelry] { icon-image: icons/shopping_jewelry.n.16.png; z-index: 20; }
node[shop=kiosk] { icon-image: icons/shopping_kiosk.n.16.png; z-index: 20; }
node[shop=laundry] { icon-image: icons/shopping_laundrette.n.16.png; z-index: 20; }
node[amenity=marketplace] { icon-image: icons/shopping_marketplace.n.16.png; z-index: 20; }
node[shop=motorcycle] { icon-image: icons/shopping_motorcycle.n.16.png; z-index: 20; }
node[shop=music] { icon-image: icons/shopping_music.n.16.png; z-index: 20; }
node[shop=supermarket] { icon-image: icons/shopping_supermarket.n.16.png; z-index: 20; }
node[shop=toys] { icon-image: icons/shopping_toys.n.16.png; z-index: 20; }
/* More Touristy Items */
node[tourism=artwork] { icon-image: icons/tourist_art_gallery2.n.16.png; z-index: 20; }
node[historic=archaeological_site] { icon-image: icons/tourist_archaeological.n.16.png; z-index: 20; }
node[historic=battlefield] { icon-image: icons/tourist_battlefield.n.16.png; z-index: 20; }
node[historic=castle] { icon-image: icons/tourist_castle.n.16.png; text-offset:15; text: name; font-size: 10; z-index: 20; }
node[amenity=cinema] { icon-image: icons/tourist_cinema.n.16.png; z-index: 20; }
node[historic=memorial] { icon-image: icons/tourist_memorial.n.16.png; text-offset:15; text: name; font-size: 10; z-index: 20; }
node[historic=monument] { icon-image: icons/tourist_monument.n.16.png; text-offset:15; text: name; font-size: 10; z-index: 20; }
node[tourism=museum] { icon-image: icons/tourist_museum.n.16.png; text-offset:15; text: name; font-size: 10; z-index: 20; }
node[tourism=information] { icon-image: icons/tourist_information.png; z-index: 20; }
node[tourism=picnic_site] { icon-image: icons/tourist_picnic.n.16.png; z-index: 20; }
node[historic=ruins] { icon-image: icons/tourist_ruin.n.16.png; z-index: 20; }
node[amenity=theatre] { icon-image: icons/tourist_theatre.n.16.png; z-index: 20; }
node[tourism=theme_park] { icon-image: icons/tourist_theme_park.n.16.png; z-index: 20; text-offset:15; text: name; font-size: 10; z-index: 20; }
node[tourism=viewpoint] { icon-image: icons/tourist_view_point.n.16.png; z-index: 20; }
node[tourism=zoo] { icon-image: icons/tourist_zoo.n.16.png; z-index: 20; }
/* Transport */
node[aeroway=aerodrome] { icon-image: icons/transport_aerodrome.n.16.png; z-index: 20; }
node[aeroway=gate] { icon-image: icons/transport_airport_gate.n.16.png; z-index: 20; }
node[aeroway=terminal] { icon-image: icons/transport_airport_terminal.n.16.png; z-index: 20; }
node[aeroway=helipad] { icon-image: icons/transport_helicopter_pad.n.16.png; z-index: 20; }
node[amenity=bus_station] { icon-image: icons/transport_bus_station.n.16.png; z-index: 20; }
node[highway=bus_stop] { icon-image: icons/transport_bus_stop2.n.16.png; z-index: 20; }
node[amenity=fuel] { icon-image: icons/transport_fuel.n.16.png; z-index: 20; }
node[amenity=car_wash] { icon-image: icons/transport_car_wash.n.16.png; z-index: 20; }
node[amenity=bicycle_parking] { icon-image: icons/transport_parking_bicycle.n.16.png; text-offset: 15; text: capacity; font-size: 10; z-index: 20; }
node[amenity=parking] { icon-image: icons/transport_parking_car.n.16.png; z-index: 20; }
node[amenity=ferry_terminal] { icon-image: icons/transport_port.n.16.png; z-index: 20; }
node[amenity=bicycle_rental] { icon-image: icons/transport_rental_bicycle.n.16.png; z-index: 20; }
node[amenity=car_rental] { icon-image: icons/transport_rental_car.n.16.png; z-index: 20; }
node[amenity=taxi] { icon-image: icons/transport_taxi_rank.n.16.png; z-index: 20; }
node[railway=station] { icon-image: icons/transport_train_station.n.16.png; text-offset:15; text: name; font-size: 10; z-index: 20; }
node[railway=tram_stop] { icon-image: icons/transport_tram_stop.n.16.png; z-index: 20; }
node[leisure=marina] { icon-image: icons/transport_marina.n.16.png; z-index: 20; }
node[highway=mini_roundabout] { icon-image: icons/transport_miniroundabout_anticlockwise.n.16.png; z-index: 20; }
node[highway=crossing] { icon-image: icons/transport_zebracrossing.n.16.png; z-index: 20; }
/* Misc */
node[leisure=playground] { icon-image: icons/amenity_playground.n.16.png; z-index: 20; }
node[leisure=sports_centre] { icon-image: icons/sport_leisure_centre.n.16.png; z-index: 20; text-offset:15; text: name; font-size: 10; z-index: 20; }
/* node[landuse=cemetery], node[landuse=grave_yard] { icon-image: icons/?.png; z-index: 20; } */
node[man_made=survey_point] { icon-image: icons/manmade_lighthouse.png; z-index: 20; }
node[man_made=tower] { icon-image: icons/manmade_tower.png; z-index: 20; }
/* Yes these power stations seem a little backward - but that's seemingly what the side menu uses ATM */
node[power=station] { icon-image: icons/power_substation.n.16.png; z-index: 20; }
node[power=generator] { icon-image: icons/power_station.png; z-index: 20; text-offset:15; text: name; font-size: 10; z-index: 20; }
node[power=tower] { icon-image: cross; icon-width: 7; width: 3; color: #F44; z-index: 20; }
node[power=pole] { icon-image: cross; icon-width: 7; width: 3; color: #444; z-index: 20; }
node[waterway=weir] { icon-image: icons/transport_weir.n.16.png; z-index: 20; }
/* Natural */
node[natural=peak] { icon-image: icons/natural_peak.n.16.png; z-index: 20; text-offset:15; text: name; font-size: 10; z-index: 20; }
node[natural=tree] { icon-image: icons/natural_tree.n.16.png; z-index: 20; text-offset:15; text: name; font-size: 10; z-index: 20; }

/* Addressing */

node[addr:housenumber] !:drawn,
node[addr:housename] !:drawn { icon-image: circle; icon-width: 8; color: #B0E0E6; casing-color:blue; casing-width: 1; z-index: 20; }
way[addr:interpolation] { color: #B0E0E6; width: 3; dashes: 3,3;}
