language: java
script:
  - ant -version
  - $ANT_INVOCATION -DnoJavaFX=true test-unit-hardfail
  - "grep -L ', Failures: 0, Errors: 0, ' test/report/*.txt | xargs cat"
env:
  - ANT_INVOCATION="xvfb-run ant -Dtest.headless=false"
  - ANT_INVOCATION="ant -Dtest.headless=true"
jdk:
  - openjdk8
  - openjdk11
os: linux
dist: trusty
matrix:
  include:
  - os: osx
    osx_image: xcode9.3
    jdk: ~
    env: ANT_INVOCATION="ant -Dtest.headless=true"
  - os: osx
    osx_image: xcode10
    jdk: ~
    env: ANT_INVOCATION="ant -Dtest.headless=true"
  - os: windows
    language: shell
    jdk: oraclejdk11
    env: ANT_INVOCATION="ant -Dtest.headless=true"
before_install:
  - "curl https://downloads.apache.org/ant/binaries/apache-ant-1.10.8-bin.tar.gz | tar -xzv"
  - "export PATH=`pwd`/apache-ant-1.10.8/bin:$PATH"
  - if [ "$TRAVIS_OS_NAME" == "windows" ] ; then choco install jdk11 && export JAVA_HOME="/c/Program Files/Java/jdk-11" ; fi
