<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>JOSM</string>
	<key>CFBundleGetInfoString</key>
	<string>@SVNVersion@ SVN</string>
	<key>CFBundleIconFile</key>
	<string>JOSM.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.openstreetmap.josm</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>JOSM</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>@SVNVersion@</string>
	<key>Java</key>
	<dict>
		<key>ClassPath</key>
		<string>$JAVAROOT/josm-custom.jar</string>
		<key>JVMVersion</key>
		<string>1.6+</string>
		<key>MainClass</key>
		<string>org.openstreetmap.josm.gui.MainApplication</string>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
		</dict>
		<key>VMOptions</key>
		<string>-Xmx512m</string>
		<key>WorkingDirectory</key>
		<string>$APP_PACKAGE/Contents/Resources/Java</string>
	</dict>
    <key>NSHighResolutionCapable</key>
    <string>True</string>
</dict>
</plist>
