[Desktop Entry]
Type=Application
Version=1.0
Name=JOSM
GenericName=Java OpenStreetMap Editor
Comment=Extensible off-line editor for OpenStreetMap (OSM)
Icon=josm
Exec=josm %F
Terminal=false
MimeType=application/x-osm+xml;application/x-gpx+xml;x-scheme-handler/geo;
StartupNotify=true
Categories=Education;Geoscience;Maps;
StartupWMClass=org-openstreetmap-josm-Main
Keywords=OpenStreetMap;OSM;
