body {
    font-family:Arial, sans-serif;
    background-color:White;
    color:Black;
}
hr {
    color:Black;
    background-color:Black;
    height:1px;
    border:0;
}
h1 {
    margin-bottom:0px;
    padding-bottom:0px;
    font-size:1.625em;
}
h2 {
    margin-bottom:0px;
    padding-bottom:0px;
    font-size:1.25em;
    white-space:nowrap;
}
div.symbols {
    color:#003E69;
}
div.symbols i {
    color:Brown;
}
span.section {
    font-weight:bold;
    cursor:pointer;
    color:#003E69;
    white-space:nowrap;
    margin-left:0.3125em;
}
span:hover.section {
    color:#336699;
}
span.sect_aff {
    cursor:pointer;
    padding-left:1.55em;
    font-size:0.875em;
    color:#cc3300;
}
span.ext {
    font-weight:normal;
}
span.jar {
    color:#cc3300;
    font-size:0.875em;
    font-weight:bold;
}
div.jar_list {
    padding-left:0.4em;
    font-size:0.94em;
}
span.pkg_t {
    color:#408080;
    font-size:0.875em;
}
span.pkg {
    color:#408080;
    font-size:0.875em;
    font-weight:bold;
}
span.cname {
    color:Green;
    font-size:0.875em;
    font-weight:bold;
}
span.iname_b {
    font-weight:bold;
}
span.iname_a {
    color:#333333;
    font-weight:bold;
    font-size:0.94em;
}
span.sym_p {
    font-weight:normal;
    white-space:normal;
}
span.sym_pd {
    white-space:normal;
}
span.sym_p span, span.sym_pd span {
    white-space:nowrap;
}
span.attr {
    color:Black;
    font-weight:normal;
}
span.deprecated {
    color:Red;
    font-weight:bold;
    font-family:Monaco, monospace;
}
div.affect {
    padding-left:1em;
    padding-bottom:10px;
    font-size:0.87em;
    font-style:italic;
    line-height:0.9em;
}
div.affected {
    padding-left:2em;
    padding-top:10px;
}
table.ptable {
    border-collapse:collapse;
    border:1px outset black;
    margin-left:0.95em;
    margin-top:3px;
    margin-bottom:3px;
    width:56.25em;
}
table.ptable td {
    border:1px solid Gray;
    padding:3px;
    font-size:0.875em;
    text-align:left;
    vertical-align:top;
    max-width:28em;
    word-wrap:break-word;
}
table.ptable th {
    background-color:#eeeeee;
    font-weight:bold;
    color:#333333;
    font-family:Verdana, Arial;
    font-size:0.875em;
    border:1px solid Gray;
    text-align:center;
    vertical-align:top;
    white-space:nowrap;
    padding:3px;
}
table.summary {
    border-collapse:collapse;
    border:1px outset black;
}
table.summary th {
    background-color:#eeeeee;
    font-weight:normal;
    text-align:left;
    font-size:0.94em;
    white-space:nowrap;
    border:1px inset Gray;
    padding:3px;
}
table.summary td {
    text-align:right;
    white-space:nowrap;
    border:1px inset Gray;
    padding:3px 5px 3px 10px;
}
span.mngl {
    padding-left:1em;
    font-size:0.875em;
    cursor:text;
    color:#444444;
    font-weight:bold;
}
span.pleft {
    padding-left:2.5em;
}
span.color_p {
    font-style:italic;
    color:Brown;
}
span.param {
    font-style:italic;
}
span.focus_p {
    font-style:italic;
    background-color:#DCDCDC;
}
span.ttype {
    font-weight:normal;
}
span.nowrap {
    white-space:nowrap;
}
span.value {
    white-space:nowrap;
    font-weight:bold;
}
.passed {
    background-color:#CCFFCC;
    font-weight:normal;
}
.warning {
    background-color:#F4F4AF;
    font-weight:normal;
}
.failed {
    background-color:#FFCCCC;
    font-weight:normal;
}
.new {
    background-color:#C6DEFF;
    font-weight:normal;
}

.compatible {
    background-color:#CCFFCC;
    font-weight:normal;
}
.almost_compatible {
    background-color:#FFDAA3;
    font-weight:normal;
}
.incompatible {
    background-color:#FFCCCC;
    font-weight:normal;
}
.gray {
    background-color:#DCDCDC;
    font-weight:normal;
}

.top_ref {
    font-size:0.69em;
}
.footer {
    font-size:0.8125em;
}
