/*

	Potlatch 2 core stylesheet
	
	This stylesheet should contain commonly used features and only the most essential extra attributes
	(e.g. oneway). It needs to remain simple (not too many nested styles or dash-type decorations) in
	order not to kill performance on slower systems and those with a less effective Flash Player (i.e. 
	Linux).
	
	It is expected that experienced mappers will switch between this and other stylesheets as required.

*/

meta {
    title: "Potlatch 2";
    icon: "dialogs/mappaint/pl2_small.svg";
}

canvas {
    fill-color: #ffffea;
}

node, area {
    text-color: black;
}

relation[restriction=no_left_turn] {
    icon-image: "presets/vehicle/restriction/turn_restrictions/no_left_turn.svg";
}
relation[restriction=no_right_turn] {
    icon-image: "presets/vehicle/restriction/turn_restrictions/no_right_turn.svg";
}
relation[restriction=no_straight_on] {
    icon-image: "presets/vehicle/restriction/turn_restrictions/no_straight_on.svg";
}
relation[restriction=no_u_turn] {
    icon-image: "presets/vehicle/restriction/turn_restrictions/no_u_turn.svg";
}
relation[restriction=only_left_turn] {
    icon-image: "presets/vehicle/restriction/turn_restrictions/only_left_turn.svg";
}
relation[restriction=only_right_turn] {
    icon-image: "presets/vehicle/restriction/turn_restrictions/only_right_turn.svg";
}
relation[restriction=only_straight_on] {
    icon-image: "presets/vehicle/restriction/turn_restrictions/only_straight_on.svg";
}

