@CHARSET "ISO-8859-1";
/*
 * This is the CSS file used in the internal help browser.
 * Refer to https://docs.oracle.com/javase/8/docs/api/javax/swing/text/html/CSS.html
 * and https://www.w3.org/TR/CSS1/ to see what CSS properties are supported by Java. 
 */
body {margin-left: 0.2cm; font-family: Arial, sans-serif; font-size:14pt; font-weight:normal}
p {margin-top: 5px; margin-bottom: 5px;}
h1 {font-family: Arial, sans-serif; font-size:24pt; font-weight:bold}
h2 {margin-top: 14pt; font-family: Arial, sans-serif; font-size:20pt; font-weight:bold}
h3 {margin-top: 14pt; font-family: Arial, sans-serif; font-size:16pt; font-weight:bold}
h4 {margin-top: 14pt; font-family: Arial, sans-serif; font-size:14pt; font-weight:bold}
a {font-family: Arial, sans-serif; font-size:14pt; font-weight:normal; text-decoration: underline; color: blue}
ul {margin-left: 1cm; list-style-type: disc}
ul ul {margin-left: 1cm; list-style-type: circle}
ol {margin-left: 1cm;}
strong {font-weight: bold}
b {font-weight: bold}
em {font-style: italic}
i {font-style: italic}
code, pre, samp, tt {font-family: Courier New}
code, tt {
	background-color: #fafafa;
	border-color: rgb(238, 221, 204);
	border-style: solid; 
	border-width: 1px;
	color: rgb(102, 0, 0);
}
.warning-header {
	font-family: Arial, sans-serif; 
	font-size:24pt; 
	font-weight:bold
}
.warning-body {
	background-color:rgb(253,255,221);
	padding: 10pt; 
	border-color:rgb(128,128,128);
	border-style: solid; 
	border-width: 1px;
}

.error-header {
	font-family: Arial, sans-serif; 
	font-size:24pt; 
	font-weight:bold
}
.error-body {
	background-color:rgb(254,195,190);
	padding: 10pt; 
	border-color:rgb(128,128,128);
	border-style: solid; 
	border-width: 1px;
}