<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <!-- This plugin provides custom Checkstyle modules. -->
    <extension
          point="net.sf.eclipsecs.core.checkstyleAddonProvider">
    </extension>
    
    <!-- This plugin provides custom quickfixes for Checkstyle problems.
    <extension
          point="net.sf.eclipsecs.ui.checkstyleQuickfixProvider">
    </extension>-->

    <!-- 
        builtin check configuration
    -->
    <extension
        id="checkstyle.CheckConfiguration"
        point="net.sf.eclipsecs.core.configurations">
        <check-configuration
            name="JOSM Checkstyle checks"
            location="josm_checks.xml"
            description="JOSM Checkstyle checks"
            default-weight="2">
        </check-configuration>
    </extension>

    <!-- 
        checkstyle plugin filter
    
    <extension
        id="checkstyle.CheckstyleFilters"
        point="net.sf.eclipsecs.core.filters">
        <filter
            name="Sample Filter"
            internal-name="SampleFilter"
            description="Sample Filter (doing nothing)"
            class="net.sf.eclipsecs.sample.filter.SampleFilter"/>
    </extension>-->
</plugin>
