[Desktop Entry]
Type=Application
Version=1.0
Name=JOSM (latest snapshot)
GenericName=Java OpenStreetMap Editor (latest)
Comment=Extensible off-line editor for OpenStreetMap (OSM)
Icon=org.openstreetmap.josm-latest
Exec=josm-latest %U
Terminal=false
MimeType=application/geo+json;application/gpx+xml;application/gzip;application/vnd.openstreetmap.data+xml;application/x-bzip2;application/x-gpx+xml;application/x-josm-session+xml;application/x-josm-session+zip;application/x-osm+xml;application/x-xz;application/zip;x-scheme-handler/geo;
StartupNotify=true
Categories=Education;Geoscience;Maps;
StartupWMClass=org-openstreetmap-josm-MainApplication
Keywords=OpenStreetMap;OSM;
