name: "Spotbugs"

on:
  push:
    branches: [ master ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ master ]

jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
          fetch-depth: 256

    - name: Cache
      uses: actions/cache@v2.0.0
      with:
        path: |
          ~/.ivy2/cache/
          ~/work/josm/josm/tools/
        key: ${{ runner.os }}-ivy2-${{ hashFiles('build.xml', 'ivy.xml', 'tools/ivy.xml') }}

    - name: Run Spotbugs with Ant
      run: |
        ant spotbugs

    - name: Upload report
      uses: actions/upload-artifact@v2
      with:
        path: spotbugs-josm.xml

    - uses: jwgmeligmeyling/spotbugs-github-action@master
      with:
        path: '**/spotbugs-josm.xml'
